<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>火影忍者漫画全集 | 静觅</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>
</head>
<body>
<div class="background" style="background-image: url('/static/images/naruto.jpg')">

</div>
<div class="main">
    <div class="container">
        <div class="title">
            火影忍者漫画全集
        </div>
        <div class="start">
            <a href="/Vol_001">从头观看</a>
        </div>
        <div class="introduction">
            在一个忍者的世界，故事从主人公漩涡鸣人的孤儿生活开始，他的父母为了保护村子，将攻击村子九尾妖狐封印到了他体内，鸣人因此受尽了村人的冷落，只是拼命用各种恶作剧试图吸引大家的注意力。好在还是有依鲁卡老师的关心，鸣人的性格才没有变得扭曲，他总是干劲十足、非常乐观。
            为了让更多的人认可自己，鸣人的目标是成为火影。整个故事就围绕鸣人的奋斗、成长，鸣人的同伴们的故事，以及这个忍者世界的各种争斗和阴谋展开。
        </div>
        <div class="nav">
            <div class="row">
                {% for content in contents %}
                    <div class="col-md-4 col-sm-6 content">
                        <a href="/{{ content.name }}">
                            {{ content.title }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>