<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>火影忍者漫画全集</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>
</head>
<body>
<div class="background" style="background-image: url('/static/images/naruto.jpg')">

</div>
<div class="main">
    <div class="container">
        <div class="title">
            火影忍者漫画全集
        </div>
        <div class="nav">
            <div class="row">
                {% for content in contents %}
                    <div class="col-md-4 col-sm-6 content">
                        <a href="/{{ content.name }}">
                            {{ content.title }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>